.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
}

.cart-icon-value-container {
  display: flex;
  align-items: center;
}

.cart-icon {
  height: 40px;
  width: 40px;
}

.quantity-container {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: orange;
  color: #ffffff;
  padding: 0px 10px 0px 10px;
}

.cart-quantity {
  margin: 5px 0px 5px 0px;
}

.myOrders {
  display: none;
  @media screen and (min-width: 361px) {
    display: block;
  }
}

.logoutBtn {
  background-color: rgb(68, 68, 190);
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
  width: 70px;
  height: 35px;
}

.cartBtnContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}

.linkHeading {
  text-decoration: none;
}

.iconBtn {
  border: none;
  background-color: transparent;
}
